@media screen and (max-width: 1400px) {
  .image {
    width: 1116px;
    height: 837px;
  }
}

@media screen and (max-width: 1200px) {
  .image {
    width: 936px;
    height: 702px;
  }
}

@media screen and (max-width: 991px) {
  .image {
    width: 696px;
    height: 522px;
  }
}

@media screen and (max-width: 768px) {
  .image {
    width: 516px;
    height: 387px;
  }
}

@media screen and (max-width: 576px) {
  .image {
    width: 459px;
    height: 344.25px;
  }
}

@media screen and (max-width: 414px) {
  .image {
    width: 394px;
    height: 262px;
  }
}

@media screen and (max-width: 411px) {
  .image {
    width: 391px;
    height: 260px;
  }
}

@media screen and (max-width: 375px) {
  .image {
    width: 355px;
    height: 225px;
  }
}

@media screen and (max-width: 360px) {
  .image {
    width: 340px;
    height: 200px;
  }
}

@media screen and (max-width: 320px) {
  .image {
    width: 300px;
    height: 180px;
  }
}

@media screen and (max-width: 280px) {
  .image {
    width: 260px;
    height: 130px;
  }
}
